.react-ex-icon {
  font-family:"react-ex-icon-fonts" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo {
  width: 800px;
  margin: 50px auto;
  &__first {
    margin: 20px auto;
    width: 800px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 10px;

    &__title {
      margin: 10px;
    }

    &__one {
      margin: 10px;
      &:before {
        content: "\e61b";
      }
    }
  }

  &__second {
    margin: 20px auto;
    width: 800px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 10px;
    font-family:"react-ex-icon-fonts" !important;

    &__title {
      margin: 10px;
    }

    &__one {
      margin: 10px;
    }
  }
}
