@font-face {
  font-family: "react-ex-icon-fonts";
  src: url('./../resources/iconfont.eot'); /* IE9*/
  src: url('./../resources/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../resources/iconfont.woff') format('woff'), /* chrome, firefox */
  url('./../resources/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../resources/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
